@import'./styles/header.scss';

:root {
  --main-blue: #30A9DE;
  --main-green: #4CAF50;
  --main-orange-yellow: #F6AE2D;
  --main-red: #FF5050;
  --main-orange-light: #FF7F50;
  --main-blue-grey: rgba(113, 128, 150, 0.5);
  --grey-light: #F6F7F8;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  /* 其他樣式設定 */
}