:root {
  --main-blue: #30A9DE;
  --main-green: #4CAF50;
  --main-orange-yellow: #F6AE2D;
  --main-red: #FF5050;
  --main-orange-light: #FF7F50;
  --main-blue-grey: #718096
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  /* 其他樣式設定 */
}